<ion-view view-title="New Event">
  <ion-content>
<div class="row responsive-sm">
  <div class="col">
    <button class="button button-full icon ion-android-walk"></button>
  </div>
  <div class="col">
    <button class="button button-full icon ion-android-restaurant"></button>
  </div>
  <div class="col">
    <button class="button button-full icon ion-ios-moon"></button>
  </div>
</div>
<div class="row responsive-sm">
  <div class="col">
  <label class="item item-input">
    <textarea placeholder="Thoughts"></textarea>
  </label>
  </div>
</div>
<div class="row responsive-sm">
  <div class="col">
    <button class="button button-full icon ion-ios-rainy"></button>
  </div>
  <div class="col">
    <button class="button button-full icon ion-ios-cloudy"></button>
  </div>
  <div class="col">
    <button class="button button-full icon ion-ios-partlysunny"></button>
  </div>
  <div class="col">
    <button class="button button-full icon ion-ios-sunny"></button>
  </div>
  <div class="col">
    <button class="button button-full icon ion-ios-star"></button>
  </div>
</div>
  </ion-content>
</ion-view>
